body{
    font-family: "Helvetica";
    background-color: cadetblue;
    text-align: center;
}
h1 {
    font-family:"Helvetica Neue";
}
h2 {
    text-decoration-line: underline;
}
img {
    width: 50%;
}